span {
    display: inline-block
}

.form-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    display: flex;
    justify-content: space-between;
}
a {
    color:#272424;
}
a:hover {
    color: rgb(161, 180, 75)
  }
a:active {
    color: blue
  }



